<div class="vh-100">
  <div id="column">
    <h2 class="text-center py-3 text-light" style="font-size: 50px;">ユーザーの一覧</h2>
  </div>
  <div class="mx-3">
    <%= render partial: 'user-index' %>
  </div>
</div>